body{
	font-family:Gotham, Helvetica Neue, Helvetica, Arial, sans-serif;
	color:#151515;
	background:url(../img/background.jpeg) fixed  center / cover;
	margin:0;
}

#wrapper{
	width:100%;
	min-width:200px;
	max-width:1000px;
	background-color:#FFF;
	margin:0 auto;
}

header img{
	min-width:15%;
	max-width:100%;
}

a{
	text-decoration:none;
	color:#0171BB;
}

header nav ul{
	list-style-type:none;
	margin:0;
	padding:0;
}

header nav ul li a{
	display:block;
	width:25%;
	float:left;
	text-align:center;
	text-transform:uppercase;
	background-color:#666;
	color:#FFF;
	padding:1% 0;
}

header nav ul li a.pagsel{
	background-color:#999;
	color:#0171BB;
}

header nav ul li a:hover{
	background-color:#0171BB;
	color:#FFF;
}

@media(max-width:575px){
	header nav ul li a{
		font-size:0.9em;
	}
}

@media(max-width:575px){
	#slider{
		display:none;
	}
}

#slider img{
	min-width:20%;
	max-width:100%;
}

article{
	margin:4%;
}

h1{
	font-size:2.5em;
}

@media(max-width:575px){
	#h1_sicurezza{
		font-size:1.8em;
	}
}

h1,h2{
	font-family:Lucida Grande, Lucida Sans Unicode, Lucida Sans, DejaVu Sans, Verdana, sans-serif;
	color:#0171BB;
}

article p{
	line-height:1.5em;
}

.img_sx{
	float:left;
	margin-left:0;
	margin-right:20px;
}

.img_dx{
	float:right;
	margin-left:20px;
	margin-right:0;	
}

@media(max-width:575px){
	.pulisci{
		clear:both;
	}
}

figure img{
	box-shadow:6px 6px 5px 0 #666;
	-webkit-box-shadow:6px 6px 5px 0 #666;
	-moz-box-shadow:6px 6px 5px 0 #666;
	
	border-radius:20px;
	-webkit-border-radius:20px;
	-moz-border-radius:20px;
	
	border:2px solid #FFF; 
}

figure figcaption{
	text-align:center;
	font-weight:bold;
	font-size:0.8em;
}

footer{
	text-align:center;
	background-color:#0171BB;
	color:#FFF;
	padding:1% 0;
}